.email{
    grid-template: 1fr/1fr;
}
  
  .password {
    grid-template: 1fr/1fr;
  }
  
  .confirmPassword {
    grid-template: 1fr/1fr;
  }
  .captcha{
   
  }
  
  .btns{
      justify-items: center;
      align-items: center;
  }
  