@import "./constants.scss";
@import url("https://fonts.googleapis.com/css?family=Robzoto+Condensed&display=swap");

body {
  line-height: $line-height;
  font: $fontFamily;
  letter-spacing: $letter_spacing;
  font-size: $fontSize;
  color: $N900;
  background: $N0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow: hidden;
}

::selection {
  background: $N900;
  color: $N0;
  fill: orange;
}

::placeholder {
  color: $N900;
}

// body{
//   line-height: 20px;
//   font:  Regular, "Roboto Condensed", sans-serif;
//   font-size: 14px;
//   overflow-x: hidden;
//   color: white;
//   background: black;
//   };

//   ::selection {
//       background: gray;
//       color:white;
//       fill: white;
//     }
