@mixin button {
    .button {
        display: inline;
        text-decoration: none;
        cursor: pointer;
        color: rgba(255,255,255,0.87);
    }
}

@mixin grayButton {
  @include button;
        &:hover{
          background-color: #4f4f4f;
          border-radius: 5px;
          cursor: pointer;
        }
      
}

@mixin orangeHoverButton {
  @include button;
    color: rgb(221,118,112);
    &:hover{
      cursor: pointer;
      text-decoration: underline;
    }
    
}

@mixin buttonDate {
  @include button;
  color: rgb(221,118,112);
  &:hover{
    cursor: pointer;
  }

}